<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is my specific html file</h1>
    </center>
    <h1>conneting to other files</h1>
    <a href="{% url 'first'%}">if tou click on this it will go to first html file</a>
    <center>
        <a href="{% url 'second'%}">if tou click on this it will go to second html file</a>
    </center>
</body>
</html>